* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.work-text {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

.work-text h3 {
    font-size: 40px;
    font-family: 'open sans';
}

.work-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.pexel-img {
    height: 300px;
    width: 320px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.pexel-img-1 {
    height: 300px;
    width: 320px;
    padding-bottom: 10px;
}

.pexel-button .bttn {
    padding: 15px 45px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
}